.backDrop{
    z-index: 1700;
    position:fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:black;
    opacity: 0.8;
}
.overlay{
    z-index:1800;
    position:fixed;
    overflow: auto;
    height: 80vh;
    width:60%;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    background-color:white;
}