.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    background-color:black;
    opacity: 0.8;
    color: white;
    cursor: pointer;
}
.cart:hover .overlay{
    display: flex;
}